.animal-container {
  display: flex;
	flex-flow: row wrap;
  justify-content: space-evenly;
}

.animal-info {
  flex: 1 1 auto;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.animal-config {
  flex: 1 1 auto;
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
}

p {
  margin: 10px 0;
}