a {
    text-decoration: none;
}

li{
    list-style:none;
}

header{
    background: #144084;
    padding: 12px;
    display: flex;
    flex-direction: row;
}

.btn-open, .btn-close{
    font-size: 25px;
    display: flex;
    color: white;
}

nav{
    height: 100%;
    max-width: 250px;
    width: 0;
    background: #2cb79a;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    transition: width 0.3s;
}
