nav li a {
    color: white;
    font-size: 25px;
    padding: 12px 10px 12px 32px;
    display:flex;
    white-space: nowrap;
}

nav li :first-child:hover {
    color: #969492;
    background: white;
}