.animal-container {
    display: flex;
      flex-flow: column wrap;
    justify-content: space-evenly;
  }
  
  .animal-info {
    flex: 1 1 auto;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
  }
  
  .animal-config {
    flex: 1 1 auto;
    align-items: flex-end;
    justify-content: space-between;
    display: flex;
  }
  
  p {
    margin: 10px 0;
  }